
<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Technical assessment Test</title>

    <link href="@Url.Content("~/NeyLayoutPage/assets/images/backgrounds/rocket.png")" rel="shortcut icon" type="image/x-icon" />
    <link href="@Url.Content("~/NeyLayoutPage/assets/css/styles.min.css")" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="@Url.Content("~/vendors/bootstrap-daterangepicker/daterangepicker.css")" rel="stylesheet">

    <link href="@Url.Content("~/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css")" rel="stylesheet">
    <link href="@Url.Content("~/vendors/font-awesome/css/font-awesome.min.css")" rel="stylesheet">
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a href="@Url.Action("Index", "Pending")" class="text-nowrap logo-img">
                        <img src= "@Url.Content("~/NeyLayoutPage/assets/images/backgrounds/rocket.png")" width="180" alt="" />


                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Billing Information</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("Index", "Bill")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-user-search"></i>
                                </span>
                                <span class="hide-menu">Bill Index </span>
                            </a>
                        </li>
                        
                       
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <header class="app-header">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <ul class="navbar-nav">
                        
                    </ul>
                    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                        <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">

                            <li class="nav-item dropdown">
                                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    <img onerror="this.src='@Url.Content("~/NeyLayoutPage/assets/images/profile/user-1.jpg")';" src="" id="profileImg" alt="" width="35" height="35" class="rounded-circle">
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                                    <div class="message-body">
                                        <table class="table table-hover table-striped table-bordered" id="infoTable">
                                            <tbody>
                                                <tr>
                                                    <td class="bold"><span><b>Name </b></span></td>

                                                    <td><span ID="lblUserName">Mahedi Hasan Niloy</span> </td>
                                                </tr>
                                                
                                                <tr>
                                                    <td class="bold"><span><b>Phone No.</b></span></td>
                                                    <td><span ID="lblCell">01770639974</span></td>
                                                </tr>


                                            </tbody>
                                        </table>
                                        <a href="@Url.Action("Logout","Account")" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!--  Header End -->
            <div class="container-fluid">
                <div class="card">

                    @RenderBody()

                </div>
                

            </div>
            <div class="py-6 px-6 text-center">
                <strong class="mb-0 fs-4">Design and Developed by Mahedi Hasan Niloy © @DateTime.Now.Year;</strong>
            </div>
        </div>
    </div>




    <script src="@Url.Content("~/NeyLayoutPage/assets/js/jquery-3.6.0.min.js")"></script>
    <script src="@Url.Content("~/NeyLayoutPage/assets/libs/jquery/dist/jquery.min.js")"></script>
    <script src="@Url.Content("~/NeyLayoutPage/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/NeyLayoutPage/assets/js/sidebarmenu.js")"></script>
    <script src="@Url.Content("~/NeyLayoutPage/assets/js/app.min.js")"></script>
    <script src="@Url.Content("~/NeyLayoutPage/assets/libs/apexcharts/dist/apexcharts.min.js")"></script>
    <script src="@Url.Content("~/NeyLayoutPage/assets/libs/simplebar/dist/simplebar.js")"></script>
    <script src="@Url.Content("~/NeyLayoutPage/assets/js/dashboard.js")"></script>


    <!-- bootstrap-daterangepick -->
    <script src="@Url.Content("~/vendors/moment/min/moment.min.js")"></script>
    <script src="@Url.Content("~/vendors/bootstrap-daterangepicker/daterangepicker.js")"></script>
    <script src="@Url.Content("~/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Custom/JS/select2.full.min.js")"></script>

   
</body>

</html>
<script>
    $(document).ready(function () {
        $('.datepicker').daterangepicker({
            singleDatePicker: true,
            singleClasses: "picker_1",
            "locale": {
                "format": "DD/MM/YYYY"
            }
        }, function (start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
        });

        $('.YearMonthPicker').datetimepicker({

            defaultDate: new Date(),
            format: "MMM-YYYY",
            viewMode: "months"


        },
            function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });

       

    });

</script>